html {
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}
/* :root {
    --light-gray:#8b8b8b;
} */
.input-section{
    gap: 2rem;
    /* background-color: aquamarine; */
}
.todo-input {
flex-basis:60%;
}
th{
    /* text-decoration: solid; */
}
td,th {
    /* min-width:180px; */
}
.min-width{
    /* min-width: 20px; */
}
td,th {
    /* background-color: aquamarine; */
    padding: 12px 8px;
    border-bottom:1px solid lightgrey;
}
.todo-no{
    width:5%
}
.todo-items{
    width: 50%;
}
.todo-status{
    width:20%
}
.todo-action{
    width: 25%;
}
table tbody tr td{
    color:--bs-tertiary-color;
}
table tbody tr  td:first-child{
    color: black;
}
/* table tbody tr:first-child{
    padding-top: 55px !important;
    background-color: aquamarine;
} */
/* table tbody tr:last-child td{
    border-bottom: none;
} */
/* table tbody tr td:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
} */